<!DOCTYPE html>
<html>
  <head>
    <title>Ultimate Language App</title>
<link rel="stylesheet" type="text/css" href="./style.css">
    <style>
body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/8/80/Hyades.jpg");
}
      <h1>Ultimate Language App</h1>
</style>

  </head>
  <body>
     
    <p><font face="verdana" color="white" size="10"><center>Select a language</center></font></p>

    <p><center><style type="text/css">

  a.hovertext {
    position: relative;
    width: 500px;
    text-decoration: none !important;
    text-align: center;
  }
  a.hovertext:after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    width: 460px;
    background: rgba(0,0,0,0.8);
    text-decoration: none !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
  }
  a.hovertext:hover:after, a.hovertext:focus:after {
    opacity: 1.0;
  }

</style>

      <p><center><a class="hovertext" href="latin.erb" title="Latin"><img src="http://img2.wikia.nocookie.net/__cb20140605191436/althistory/images/8/81/Roman-spqr-flag_A.png" alt="Roman Flag" style="width:304px;height:228px;" height="309" border="0" alt="Latin"></a></center></p></center></p>
<!--     <p><center><font face="verdana" size="8"><a href="">Latin</a></font></center></p> -->
    
    
    <style type="text/css">

  a.hovertext {
    position: center;
    width: 500px;
    text-decoration: font face="verdana" !important;
    text-align: center;
  }
  a.hovertext:after {
    content: attr(title);
    position: absolute;
    left: 0;
    bottom: 0;
    padding: 0.5em 20px;
    width: 460px;
    background: rgba(0,0,0,0.8);
    text-decoration: font face="verdana" !important;
    color: #fff;
    opacity: 0;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -o-transition: 0.5s;
    -ms-transition: 0.5s;
  }
  a.hovertext:hover:after, a.hovertext:focus:after {
    opacity: 1.0;
  }

</style>

      <p><center><a class="hovertext" href="japanese.erb" title="Japanese"><img src="http://www.uk.emb-japan.go.jp/en/embassy/embassy/Japanese_flag_print.jpg" alt="Japanese Flag" style="width:304px;height:228px;" height="309" border="0" alt="Japanese"></a></center></p>
    
    
<!--     <p><center><img src="http://www.uk.emb-japan.go.jp/en/embassy/embassy/Japanese_flag_print.jpg" alt="Japanese Flag" style="width:304px;height:228px;"></center></p>
    <p><center><font face="verdana" size="8"><a href="japanese.erb">Japanese</a></font></center></p> -->
    
  </body>
</html>