<!DOCTYPE html>
<html>
  <head>
    <title>Japanese Translation</title>
      <link rel="stylesheet" type="text/css" href="css/japanese_page.css">
  </head>
  <body>
      <ul id="nav">
        <li><a href="http://las997-pc-15-precollege-se1-nyfl-070615-2-111132.nitrousapp.com:9393/">Home</a></li>  
        <li><a href="as997-pc-15-precollege-se1-nyfl-070615-2-111132.nitrousapp.com:9393/japanese.erb">Japanese</a></li>
         <li><a href="http://las997-pc-15-precollege-se1-nyfl-070615-2-111132.nitrousapp.com:9393/latin.erb">Latin</a></li>
      </ul>
    <h1>Japanese Verb Translation</h1>
    <h3><%=@rand_verb %></h3>
    <form action="/results" method="post">
      English translation:<br>
        <input type="text" name="english">
        <input type="hidden" name="japanese" value =  "<%=@rand_verb %>">
       <br>
      <input type="submit" value="Submit">
    </form> 

  </body>
 </html>
