<!DOCTYPE html>
<html>
  <head>
    <title>Ultimate Language App - Japanese</title>
    <style>
body {
  background-image: url("http://sushionsecond.com/wp-content/uploads/2013/10/Sushi-Roll-on-a-white-background.jpg");
 
}
      <h1>Ultimate Language App</h1>
</style>
  </head>
  <body>
    <p><font face="verdana" size="10"><center>Choose a topic to study</center></font></p>
    <p><center><font face="verdana" size="8"><a href="jnoun_results.erb">Nouns</a></font></center></p>
  </body>
</html>