<!DOCTYPE html>
<html>
  <head>
    <title>Japanese Translation</title>
      <link rel="stylesheet" type="text/css" href="css/japanese_page.css">
  </head>
  <body>
    <nav id="menu">
      <ul>
        <li><a href="http://las997-pc-15-precollege-se1-nyfl-070615-2-111132.nitrousapp.com:9393/">Home</a></li>  
        <li><a href="as997-pc-15-precollege-se1-nyfl-070615-2-111132.nitrousapp.com:9393/japanese.erb">Japanese</a></li>
      </ul>
    </nav>
    <h1>Japanese Verb Translation</h1>
    <%=@rand_verb %>
    <form action="/results" method="post">
      English translation:<br>
        <input type="text" name="english">
        <input type="hidden" name="japanese" value =  "<%=@rand_verb %>">
       <br>
      <input type="submit" value="Submit">
    </form> 
  </body>
 </html>