<title>Ultimate Language App - Japanese Nouns</title>
<style>
body {
  background-image: url("http://sushionsecond.com/wp-content/uploads/2013/10/Sushi-Roll-on-a-white-background.jpg");
  background-size: 1400px 740px;
}
      <h1>Ultimate Language App</h1>
</style>