<!DOCTYPE html>
<html>
  <head>
    <title>Ultimate Language App - Latin</title>
    <style>
/* body {
  background-image: url("http://www.kingsacademy.com/mhodges/11_Western-Art/08_Roman/Roman-Coliseum_AD-70.jpg");
  background-size: 1500px 850px;
 
} */
      <h1>Ultimate Language App</h1>
</style>
  </head>
  <body>
    <p><font face="verdana" size="10"><center>Choose a topic to study</center></font></p>
    <p><center><font face="verdana" size="8"><a href="noun1_results.erb">1st Declension Nouns</a></font></center></p>
    <center><img src="http://www.kingsacademy.com/mhodges/11_Western-Art/08_Roman/Roman-Coliseum_AD-70.jpg" alt="Colosseum" style="width:800px;height:500px;" height="800" border="0" alt="Colosseum"></center>
  </body>
</html>