<!DOCTYPE html>
<html>
<head>
</head>
<body>
  <p> <%=@display%> <p>
  <form action="latin_ans" method="post">
    <input type="text" name="noun_translate">
    <input type="hidden" name="noun_ans" value="<%=@rand_noun_key%>">
    <input type="submit" value="Submit">
    
  </form>
</body>
</html>




